<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
        <table class="table">
          <tr><%= image_tag @customer.get_profile_image, size: '100x100' %></tr>
          <tr>
            <th>ユーザー名</th>
            <th><%= @customer.name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @customer.introduction %></th>
          </tr>
        </table>

          <% if current_customer == @customer %>
            <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>レビュー一覧</h2>
        <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>内容</th>
      <th>評価</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td>
        <% if admin_signed_in? %>
          <%= link_to admin_review_path(review) do %>
          <%= image_tag review.customer.get_profile_image, size:'50x50' %>
          <% end %>
        <% else %>
          <%= link_to(review.customer) do %>
          <%= image_tag review.customer.get_profile_image, size:'50x50' %>
          <% end %>
        <% end %>
      </td>
      <% if admin_signed_in? %>
        <td><%= link_to review.title,admin_review_path(review) %></td>
      <% else %>
      <td><%= link_to review.title,review %></td>
      <% end %>
      <td><%= review.body %></td>
        <td>
          <div id="star<%= review.id %>"></div>
          <script>
            document.getElementById('star<%= review.id %>').innerHTML = ''
            raty(document.getElementById('star<%= review.id %>'), {
              starOn: '<%= asset_path('star-on.png') %>',
              starOff: '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              score: <%= review.star %>,
              half: true
            })
          </script>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>