<div>
  <%= flash[:notice] %>
</div>

<div class="container-fluid mt-3">
  <div class='row'>
    <div class='col-md-3'>
        <table class="table">
          <tr><%= image_tag @customer.get_profile_image, size: '100x100' %></tr>
          <tr>
            <th>ユーザー名</th>
            <th><%= @customer.name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @customer.introduction %></th>
          </tr>
        </table>

          <% unless @customer.guest_user? %>
            <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
    </div>
    <div class='col-md-9'>
      <h2>レビュー一覧</h2>
      <div class="container-fluid mt-3">
        <div class="row w-100 align-items-center justify-content-center">
          <div class="card-deck" style="width: 100%;" class="col-sm-2">
            <% @reviews.each do |review| %>
              <div class="col-4">
                <div class="item my-5">
                  <div class="card d-block" style="background-color: #537188;">
                  <%= link_to review_path(review), style: "color: #DDE6ED;" do %>
                    <div class="card-header">
                      <%= image_tag review.customer.get_profile_image, size:'30x30' %>
                      <%= review.customer.name %>
                    </div>
                      <div class="card-body">
                        <h4 class="card-title"><%= review.title %></h4>
                        <div id="star<%= review.id %>"></div>
                          <script>
                            document.getElementById('star<%= review.id %>').innerHTML = ''
                            raty(document.getElementById('star<%= review.id %>'), {
                              starOn: '<%= asset_path('star-on.png') %>',
                              starOff: '<%= asset_path('star-off.png') %>',
                              starHalf: '<%= asset_path('star-half.png') %>',
                              score: <%= review.star %>,
                              half: true,
                            })
                          </script>
                          コメント数: <%= @review.review_comments.count %>
                          <p><%= link_to "#{review.review_comments.count} コメント", review_path(review.id) %></p>
                        <p class="card-text"><small><%= truncate(review.body, :length => 15) %></small></p>
                      </div>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>