<div class="container about d-flex align-items-center justify-content-center mt-5">
  <div class="row mb-4">
      <%= image_tag "samune.png", size: "600x300", class: "image" %>
  </div>
</div>


<h2 class="text-center"><strong>新着レビュー</strong></h2>

<div class="row w-100 align-items-center justify-content-center">
  <!--<div class="col-lg-2"></div>-->
  <div class="col-lg-10">
    <div class="card-deck" class="col-sm-3">
      <% @reviews.each do |review| %>
        <div class="card bg-secondary">
          <%= link_to review_path(review), style: "color: #DDE6ED;" do %>
        <div class="card-header">
          <%= image_tag review.customer.get_profile_image, size:'30x30' %>
          <%= review.customer.name %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= review.title %></h4>
          <p class="card-text">
          <div id="star<%= review.id %>"></div>
          <script>
            document.getElementById('star<%= review.id %>').innerHTML = ''
            raty(document.getElementById('star<%= review.id %>'), {
              starOn: '<%= asset_path('star-on.png') %>',
              starOff: '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              score: <%= review.star %>,
              size: 36,
              half: true,
            })
          </script>
          </p>
          <p class="card-text"><small><%= review.body %></small></p>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="mt-3 text-right">
      <%= link_to "全てのレビューを見る >>", reviews_path %>
    </div>

  </div>
</div>