<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 ">
      <h3><%= @customer.name %>さんの情報編集</h3>
      <%= form_with model: @customer, method: :patch, url: admin_customer_path(@customer) do |f| %>
      <!--更新した情報を詳細ページに送る-->
    <table class="table table-borderless">
      <tbody>
        <tr>
         <td>会員ID</td>
         <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :name, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "無効", value: true %>&emsp;
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", value: false %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "変更を保存", class: 'btn btn-success' %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
    </div>
  </div>
</div>