<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 ">
      <h3><%= @customer.name %>さんの詳細</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
         <th class="table-active">会員ID</th>
         <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="table-active">氏名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th class="table-active">会員ステータス</th>
          <% if @customer.is_deleted %>
            <td><p class="text-secondary font-weight-bold">退会</p></td>
          <% else %>
            <td><p class="text-success font-weight-bold">有効</p></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <table class="table table-borderless text-center">
      <tr>
        <td></td>
        <td>
          <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  </div>
</div>