<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>レビュー詳細</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to(@review.customer) do %>
            <%= image_tag @review.customer.get_profile_image, size:"100x100" %><br>
            <%= @review.customer.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to @review.title, @review %></td>
        </tr>
        <tr>
          <td><%= @review.body %></td>
        </tr>
        <tr>
          <td>
            <div id="star<%= @review.id %>"></div>
            <script>
              document.getElementById('star<%= @review.id %>').innerHTML = ''
              raty(document.getElementById('star<%= @review.id %>'), {
                starOn: '<%= asset_path('star-on.png') %>',
                starOff: '<%= asset_path('star-off.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                score: <%= @review.star %>,
                half: true
                })
            </script>
          </td>
        </tr>

        <!-- タグリスト -->
        <% @review_tags.each do |tag| %>
      <tr>
        <td>
          <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, search_tag_path(game_tag_id: tag.id) %>
        </td>
      </tr>
        <% end %>
      </table>
      <%= link_to '削除', @review, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>