<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>レビュー詳細</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to(@review.customer) do %>
            <%= image_tag @review.customer.get_profile_image, size:"100x100" %>
            <%= @review.customer.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to @review.title, @review %></td>
        </tr>
        <tr>
          <td><%= @review.body %></td>
        </tr>
        <tr>
          <td>
            <div id="star<%= @review.id %>"></div>

          </td>
        </tr>
        <% if current_customer %>
        <tr>
          <td id="favorite_btn_<%= @review.id %>">
            <%= render 'public/favorites/favorite', review: @review %>
          </td>
        </tr>
        <% end %>

         <!-- タグリスト -->
        <% @review_tags.each do |tag| %>
        <tr>
          <td>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, search_tag_path(game_tag_id: tag.id) %>
          </td>
          <% if @review.customer == current_customer %>
            <%= link_to '編集', edit_review_path(@review), class: "btn btn-sm btn-success" %>
            <%= link_to '削除', @review, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </tr>
        <% end %>
          <tr>
            <td>
              <p>コメント件数：<span id="comment_count"><%= @review.review_comments.count %></span></p>
            </td>
          </tr>
      </table>
        <script>
          document.getElementById('star<%= @review.id %>').innerHTML = ''
          raty(document.getElementById('star<%= @review.id %>'), {
          starOn: '<%= asset_path('star-on.png') %>',
          starOff: '<%= asset_path('star-off.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          score: <%= @review.star %>,
          half: true
          })
        </script>
      <table id="review-comments">
        <%= render 'public/review_comments/show', review: @review %>
      </table>
      <div id="comment-form">
        <%= render 'public/review_comments/form', review: @review, review_comment: @review_comment %>
      </div>
    </div>
  </div>
</div>